################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VSShellStub1/VSShellStub1.VC.VC.opendb
